{% extends 'base.html.twig' %}

{% block title %}New Episode{% endblock %}

{% block body %}
    <h1>Nouvel épisode</h1>

    {{ include('episode/_form.html.twig') }}

    <a href="{{ path('episode_index') }}">retour</a>
{% endblock %}
