{% extends 'base.html.twig' %}

{% block title %}Edit Season{% endblock %}

{% block body %}
<div class="container-fluid p-4">
    <h1 class="mt-2">Editer saison</h1>

    {{ include('season/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('season_index') }}">retour</a>

    {{ include('season/_delete_form.html.twig') }}
</div>
{% endblock %}
