
{% block body %}
<div style="background-color: rgb(254, 204, 0)">
    <h1 >Ajout d'une nouvelle série sur Wild Series !</h1>

    <p>Titre de la série : {{ program.title }}</p>
    <a href="{{ url('wild_show', {'slug': program.slug} )  }}">Lien vers la série</a>
</div>
{% endblock %}
