{% block title %}Envoi d'email{% endblock %}

{% block body %}
    m<section>
        <p>Bonjour, nous avons mis une nouvelle série sur notre site !</p>
        <h4 style="background-color: yellow"> {{ program.title }}</h4>
        <a href="http://127.0.0.1:8000/wild/show/{{ program.slug }}">Voir la page</a>
    </section>
{% endblock %}
